@charset "utf-8";
.c-title {
    color: #404246
}

.c-text {
    color: #555
}

.c-text-week {
    color: #888
}

.c-text-disabled {
    color: #abacad
}

.c-tx-important {
    color: #ed3b3b
}

.fs-base {
    font-size: 16px
}

.fs-large {
    font-size: 20px
}

.fs-small {
    font-size: 12px
}

.fs-middle {
    font-size: 14px
}

.lbs-new .pagination-mini {
    float: right
}

.lbs-new .pagination-mini .after {
    border-color: transparent transparent transparent #1ba3f4
}

.lbs-new .lbs-bd {
    background: #fff;
    overflow: hidden;
    border: 1px solid #e1e4e8;
    height: 350px
}

.lbs-new .lbs-hd+.lbs-bd {
    border-top: none
}

.lbs-new .lbs-aside {
    float: left;
    width: 260px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #e1e4e8
}

.lbs-new .lbs-aside h3 {
    font-size: 14px;
    color: #807f7f;
    font-weight: 700;
    height: 17px
}

.lbs-new .lbs-aside .location {
    overflow-y: auto;
    height: 100%;
    font-size: 14px
}

.lbs-new .lbs-aside.empty {
    width: 0;
    border-right: none
}

.m-has-selected .lbs-selected-list>li .loc {
    float: left;
    padding-right: 5px;
    max-width: 146px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.m-has-selected .lbs-selected-list>li .range-num {
    height: 100%;
    float: left;
    position: relative
}

.m-has-selected .lbs-selected-list>li .range-num>span {
    height: 100%;
    display: inline-block;
    cursor: pointer;
    width: 68px;
    text-align: center
}

.m-has-selected .lbs-selected-list>li .range-num .range {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 212px;
    background-color: #fff;
    -webkit-transition: height .2s;
    transition: height .2s;
    right: -22px
}

.m-has-selected .lbs-selected-list>li .range-num .range .inner {
    height: 100%;
    width: 100%;
    border: 1px solid #dbdee4
}

.m-has-selected .lbs-selected-list>li .range-num .range .inner .rc-slider {
    width: 80%;
    margin-left: 10%;
    margin-top: 16px
}

.m-has-selected .lbs-selected-list>li .range-num.current {
    background-color: #f5f6f8;
    z-index: 998
}

.m-has-selected .lbs-selected-list>li .range-num.current .range {
    min-height: 53px;
    -webkit-transition: height .2s;
    transition: height .2s
}

.m-has-selected .lbs-selected-list>li.on {
    background: #e1e7f1;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out
}

.m-has-selected .lbs-selected-list>li.on i.icon {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.m-has-selected .lbs-selected-list>li:hover .range-num>span {
    background-color: #f5f6f8
}

.m-has-selected .lbs-selected-list>li:hover .range {
    background-color: #fff
}

.buss-circle .it {
    padding-left: 55px
}

.lbs-new .lbs-aside .location li {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e1e4e8;
    padding: 13px 15px 16px 50px;
    cursor: pointer
}

.lbs-new .lbs-aside .location li b {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #1ba3f4;
    color: #fff
}

.lbs-new .lbs-aside .location li:first-child {
    border-top: none
}

.lbs-new .lbs-aside .location li.on,
.lbs-new .lbs-aside .location li:hover {
    background-color: #f8f9fa;
    -webkit-transition: background-color .2s;
    transition: background-color .2s
}

.lbs-new .lbs-aside .location li.on b,
.lbs-new .lbs-aside .location li:hover b {
    background-color: #e88e00;
    -webkit-transition: background-color .2s;
    transition: background-color .2s
}

.lbs-new .lbs-aside .location li .tt {
    font-size: 14px;
    color: #333;
    line-height: 2
}

.lbs-new .lbs-aside .location li .des {
    font-size: 12px;
    line-height: 20px;
    color: #999
}

.lbs-new .lbs-main {
    height: 100%;
    position: relative;
    overflow: hidden
}

.lbs-new .lbs-main .map {
    height: 100%;
    width: 100%
}

.lbs-new .m-directional .searcharea {
    border-bottom: 0
}

.lbs-new .m-directional .details-btn {
    z-index: 9
}

.lbs-new .m-directional .details-btn .spread-list-btn {
    height: 40px;
    line-height: 40px;
    top: 0;
    right: 20px;
    color: #b9bdc2
}

.lbs-pop {
    position: relative;
    width: 240px;
    z-index: 99
}

.lbs-pop .inner {
    height: auto!important
}

.lbs-pop .inner:hover {
    background-color: #fff!important
}

.lbs-pop-bd .content {
    margin-bottom: 10px
}

.lbs-pop-bd .content .tt {
    font-size: 14px;
    color: #333;
    line-height: 2
}

.lbs-pop-bd .content .des {
    font-size: 12px;
    color: #999;
    line-height: 20px
}

.lbs-pop-bd .op {
    margin-top: 4px;
    text-align: right
}

.lbs-pop-bd .op .btn {
    border-radius: 2px
}

.lbs-pop-bd .op .btn-small {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px
}